/*
First Color: #08526d
Second Color: #ec1c23

*/
:root{
    --first-color: #00496c;
    --second-color: #d23f49;
}
*{
    transition: all 0.5s ease-in-out;
}

body{
    overflow-x: hidden;
}

a{
    color: #666;
    text-decoration: none;
}

a:hover{
    color: var(--second-color);
    text-decoration: none;
}

/* General Styles and Backgrounds */
.red-bg{
    background-color: #d23f49!important;
}

.blue-bg{
    background-color: #00496c!important;
}

.bg-fff{
    background-color: #fff;
}

.bg-f6f6f6{
    background-color: #f6f6f6;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.font-14{
    font-size: 14px;
}
/*Start Header*/
#sidebar-icon i{
    font-size: 35px;
    color: var(--first-color);
    margin-top: 5px;
}

.setting-navbar .list-inline li{
    float: left;
}

.setting-navbar li{
    background-color: var(--first-color);
    font-weight: bold;
}

.setting-navbar li a{
    color:white;
    text-decoration: none;
}

.setting-navbar .corner{
    border-width: 0 39px 29px 0;
    border-color: transparent #00496c transparent transparent;
    border-style: solid;
    position: absolute;
    margin-left: -39px;
}

.setting-navbar .dropdown .btn.btn-secondary.dropdown-toggle{
    background-color: var(--first-color);
    border-color: var(--first-color);
    padding: unset;
    color: rgba(255,255,255,.5);
}

.setting-navbar .dropdown .btn.btn-secondary.dropdown-toggle:focus{
    box-shadow: unset;
}

.setting-navbar .dropdown-menu.languages-menu{
    padding: unset;
    min-width: 7rem;
    box-shadow: 0px 0px 0px 2px rgb(137 165 183);
    border-radius: 1px;
}

.setting-navbar .dropdown-menu.languages-menu a{
    color: rgba(255,255,255,.8);
    background-color: var(--first-color);
    padding: .25rem 0.5rem;
}
.setting-navbar .dropdown-menu.languages-menu a:hover{
    color: var(--second-color);
}

.setting-navbar .dropdown-menu.languages-menu a img{
    height: 11px;
}

/* Search Bar */
.search-bar input {
    background-color: #f1f5fc;
    border: 2px solid var(--second-color);
    border-radius: unset;
}

.search-bar input:focus {
    border: 2px solid var(--second-color);
    box-shadow: unset;
}

.search-bar .btn , .search-bar span, .search-bar .btn:focus{
    border:none;
    color: #fff;
    padding: 7px 12px;
    box-shadow: none;
}
.search-bar .btn:hover{
    color: #fff;
}
.search-bar .dropdown:hover > .dropdown-menu{
    display: block;
}

.dropdown-global-search a{
    font-size: 14px;
}
/* End Search bar */


/* Start NavBar */

.nav-container {
    display: flex; 
    justify-content:space-around;
    margin-top: -7px!important;
}

.fa-bars{
    font-size: 30px!important;
    border:none!important;
    color: var(--first-color);
}

nav  li a{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

nav li.active{
    border-bottom: 5px solid;
    border-color: var(--second-color);
}

nav li:hover{
    color: var(--second-color);
    border-bottom: 5px solid;
    border-color: var(--second-color);
}

nav li:hover > a{
    color: var(--second-color);
}

.navbar-dropdown-list .dropdown-menu{
    margin-top: 5px;
    background-color: rgba(255,255,255,.7);
}

.navbar-dropdown-list .dropdown-menu a{
    margin-left: 20px;
    border-left: 3px solid var(--second-color);
    margin-bottom: 10px;
}

.navbar-dropdown-list .dropdown-menu a:hover{
   background-color: transparent;
   color: var(--second-color);
}

.dropdown-toggle::after{
    vertical-align: 0.10em;
}

/* End NavBar */

/*End Header*/

/* Start Lower Search */
.lower-search-header{
    font-size: 20px;
    color: #666 ;
    font-family: Arial, sans-serif;
    text-align: center;
    padding:10px;
}

.lower-search-amongst{
    font-size: 16px;  
    color: #666 ;
    font-family: Arial, sans-serif;
}

.lower-search{
    background-color: #f1f5fc;
    border: 2px solid var(--second-color);
    border-radius: 5px;
    width:100%;
    border-right-width: 2px;
    margin: 10px;
}

.lower-search input{
    margin-left: 1px;
}

.lower-search span{
    border: none;
    border-radius: 0;
    justify-content: center;
}
.lower-search .input-group-text i{
    color:#fff;
}
/* End Lower Search */

/* Start Sectors filters */
.accordion .card{
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.sector-collapse{
    border: none;
}

.sector-collapse button{
    border-left: 5px solid var(--second-color);
    border-radius: 0px;
    text-decoration: none;
    color: #666;
}

.sector-collapse button:hover{
    color: var(--second-color);
    text-decoration: none;
}

.collapse .card-body a{
    color: #666;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 400;
}

.collapse .card-body a:hover{
    margin-left: 15px;
    color: var(--second-color);
}
/* End Sectors filters */

/* Start New Produdcts section */
.main-title {
    margin: 30px 0 40px;
    padding: 0 20px;
    font-family: HurmeGeometricSans_No4_5_SemiBold,sans-serif;
    font-size: 1.16em;
    text-transform: none;
    color: #555659;
    border-bottom: 1px solid #d3d3d3;
}

.main-title span {
    padding: 0 20px;
    background-color: #f6f6f6;
    position: relative;
    bottom: -10px;
    font-size: 14px;
}

.new-icon{
    width: 25%;
    position: absolute;
}

.new-product p{
    font-size: 14px;
}
/* End New Produdcts section */